*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.centro{
  display: flex;
  justify-content: center;
    /* max-width: 905px;
    height: 50vw; */
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.publi{
  width: 40%;
  height: 90%;
}
.img-uni{
  width: 70%;
  height: 30%;
}
