*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
nav  ul li a{
  color: aliceblue !important;
}
.navbar-brand {
  color: aliceblue !important;
}
.primero{
    display:inline-block;
    position:relative;
    margin: 0;
    width: 100%;
    height: 30%;
   
    
    
}
.cont-bot{
  position: absolute;
  bottom:10px;
  left:10px;
}