*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
#root {
  display: flex;
  
   
  width: 100vw;
  height: 100vw;
  
  
}
.contenedor, html{
  
  width: 100vw;
  height: 100vw;
  background-color: rgb(250, 250, 250);
}

.container{
  padding: 3vh;
  background-color: rgb(166, 195, 223);
  margin-bottom: 10px;
}


